[Desktop Entry]
Version=1.0
Name=Chameleon Ultra GUI
GenericName=Chameleon Ultra GUI
Comment=GUI app for Chameleon Ultra and Lite
Terminal=false
Type=Application
Categories=Utility
Keywords=Flutter;share;files;chameleon;chameleonultra;chameleonlite;