---
name: Build APP

# manual and on push
on:
  workflow_dispatch:
  push:
  pull_request:

jobs:
  build-android:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./chameleonultragui
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: '17'
      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
      - run: flutter pub get
      - run: flutter build apk --build-number ${{ github.run_number }}
      - uses: actions/upload-artifact@v3
        with:
          name: apk
          path: chameleonultragui/build/app/outputs/flutter-apk/app-release.apk

  build-windows:
    runs-on: windows-latest
    defaults:
      run:
        working-directory: ./chameleonultragui
    steps:
      - uses: actions/checkout@v3
      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
      - run: flutter config --enable-windows-desktop
      - run: flutter build windows --build-number ${{ github.run_number }}
      - run: flutter test
      - uses: actions/upload-artifact@v3
        with:
          name: windows
          path: chameleonultragui/build/windows/runner/Release/
      - name: Create NSIS installer
        uses: joncloud/makensis-action@v4
        with:
          script-file: nsis-installer.nsi
      - uses: actions/upload-artifact@v3
        with:
          name: windows-installer
          path: chameleonultragui-setup-win.exe

  build-linux:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./chameleonultragui
    steps:
      - uses: actions/checkout@v3
      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
      - run: sudo apt-get update -y && sudo apt-get install -y ninja-build libgtk-3-dev clang
      - run: flutter config --enable-linux-desktop
      - run: flutter build linux --build-number ${{ github.run_number }}
      - run: flutter test
      - uses: actions/upload-artifact@v3
        with:
          name: linux
          path: chameleonultragui/build/linux/x64/release
      - run: dart pub global activate flutter_to_debian
      - run: flutter_to_debian
      - uses: actions/upload-artifact@v3
        with:
          name: linux-debian
          path: chameleonultragui/debian/packages
